<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/normalize.css">
	<title>Socket.io</title>
</head>
<body>
</body>
</html>
<script src="/reload/reload.js"></script>
<script src="socket.io/socket.io.js"></script>
<script>
	const socket = io();
    setInterval(() => socket.emit('SERVER_SEND_MESSAGE', Math.random()), 2000);
</script>
